.add_beneficiary_container {
  background-color: #c5d9e2;
  width: 30%;
  margin: 5% auto;
  border-radius: 5px;
  padding: 5px;
 
}

.add_beneficiary_container input,
select {
  width: 75%;
  height: 7.9%;
  padding: 10px;
  margin: 1.5%;
  margin-left: 12%;
  border: 0px;
  border-radius: 3px;

  font-size: 15px;
  
}

.add_beneficiary_container input[type="submit"] {
  color: white;
  font-size: 24px;
  background-color: #43a3c0;
  border-radius: 3px;
  
  border: 0px;
}
